<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error</title>
</head>
<body>
    <h1>Sorry something went wrong, maybe you tried accessing a page that does not exist!</h1>
    <a>
        Please continue to the <a id="login-link" th:href="@{/login}">login</a> page.
    </a>
</body>
</html>